<div class="full-width-pic">
  <div class="container-fluid front-text">
      The Easiest Way to Sell Anything.
      <br>
      Anywhere*.
  </div>
  <div class="container-fluid" align="center">
    <div class="get-started">
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    </div>
  </div>
</div>