<div class="full-width-pic">
  <div class="container-fluid front-text">
    <hr class="whiteline">
      The Easiest Way to Sell Anything .
      <br>
      Anywhere*.
  </div>
  <div class="container-fluid" align="center">
    <div class="get-started">
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    </div>
  </div>
</div>
<div class="container-fluid blast-text">
  One Post. Multiple Storefronts.
</div>
<hr class="blackline">
<div class="container-fluid blast-subtext">
  Whether you're selling an old book, or a handcrafted wallet,<br> design one post and push it to all of your favorite storefronts.
</div>

</div>
<div class="blast">
  <img src='/assets/blast.png'>
</div>
