<div class="container-fluid" align="center">
	<div class="form-section-title">
		Link Your Social Accounts:
	</div>
	<div class="form-content">
		<a href="/users/auth/facebook"><img src="/assets/fb.png" class="social-button"></a>
		<br>
		<a href="/users/auth/twitter"><img src="/assets/twitter.png" class="social-button"></a>
	</div>
</div>