@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Varela);


body {
  background-color: #fff;
  color: #333;
  font-family: 'Varela', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.navbar-inner{
  border-radius: 0px;
  border: none;
  font-family: 'Varela', sans-serif;
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 20px;
  background: #FFFFFF;
}

.navbar{
  margin-bottom: 0px;
}

.logo{
  width: 120px;
  padding-left: 10%;
}

.pull-right{
  padding-right: 10%;
}

.full-width-pic{
  background: url('frontpic.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(-0.06);
}

.front-text{
  font-family: 'Oswald', sans-serif;
  font-size: 52px;
  line-height: 63px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 150px;
}

.get-started{
  margin-top: 70px;
  background-color: #EE743D;
  width: 200px;
  border-radius: 25px;
  padding: 20px 10px 20px 10px;
  opacity: 0.9;
  color: black;
  font-size: 15px;
}

p, ol, ul, td {
  font-family: 'Varela', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Varela', sans-serif;
}

a:hover{
  color: #1A1A1A;
  text-decoration: none;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
